{{ ansible_managed | comment }}
{% if module.config_param is defined %}
module(load="{{ module.module_name }}" {{ module.config_param | default([]) | join(" ") }})
{% else %}
module(load="{{ module.module_name }}")
{% endif %}

{% if module.actions is defined %}
{% for action in module.actions %}
{% if action.facility is defined %}
{{ action.facility }} action({{ action.action_params | default([]) | join(" ") }})
{% else %}
action({{ action.action_params | default([]) | join(" ") }})
{% endif %}
{% endfor %}
{{% endif %}}
